<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/navigation.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/settings.css">
</head>
<body id="body-pd">

  <!-- Navigation -->
  <%- include('partials/nav.ejs') %>

  <form id="settings-form">
    <h3>MY SETTINGS</h3>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Default City</label>
        <input type="email" class="form-control" id="inputDefaultCity" placeholder="Default City">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Secondary City</label>
        <input type="password" class="form-control" id="inputSecondaryCity" placeholder="Secondary City">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Default Zip Code</label>
        <input type="text" class="form-control" id="inputDefaultZipCode" placeholder="Default City">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Secondary Zip Code</label>
        <input type="text" class="form-control" id="inputSecondaryZipCode" placeholder="Secondary Zip Code">
      </div>
    </div>

    <div class="form-row">

    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Receive icons with text alerts
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Receive links with text alerts
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  <form id="settings-form">
    <h3>DANGER ZONE</h3>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          TEMPORARILY DISABLE ALL alerts
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="exampleFormControlSelect1">Length(in Days) of Alerts Suspension</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option selected>Until I Reactivate</option>
          <option>1</option>
          <option>7</option>
          <option>14</option>
          <option>365</option>
        </select>
      </div>
    </div>
    ______________________________________
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          PERMANENTLY DELETE my account
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <script src="../js/navigation.js"></script>
</body>
</html>